APP_NAME="ბათუმის სახლში"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_LOCALE=ka
APP_FALLBACK_LOCALE=en
APP_TIMEZONE=Asia/Tbilisi
LOG_CHANNEL=single
LOG_LEVEL=debug
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=saklshi
DB_USERNAME=postgres
DB_PASSWORD=
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
ADMIN_EMAIL=admin@sakhlshi.ge
ADMIN_PASSWORD=
